.rates {
    background-color: white;
    border-radius: 2px;
    width: 560px;
}

.euro {
    font-size: .9rem;
}

.item {
    font-family: "Roboto Light", sans-serif;
}

.loading {
    height: 1rem;
    width: 1rem;
}