.idea
# dependencies
frontend/node_modules
frontend/.idea
backend/.idea
backend/*.iml
backend/*.ipr
backend/*.iws
backend/*.jar
backend/*.sw?
backend/*~

backend/.*.md.html
backend/.DS_Store
backend/.classpath
backend/.factorypath
backend/.gradle
backend/.metadata
backend/.project
backend/.recommenders
backend/.settings
backend/.springBeans
backend/MANIFEST.MF
backend/_site/
backend/activemq-data
backend/bin
backend/build
backend/!/**/src/**/bin
backend/!/**/src/**/build
backend/build.log
backend/dependency-reduced-pom.xml
backend/dump.rdb
backend/interpolated*.xml
backend/lib/
backend/manifest.yml
backend/out
backend/overridedb.*
backend/target
backend/transaction-logs
backend/.flattened-pom.xml
backend/secrets.yml
backend/.gradletasknamecache
backend/.sts4-cache
backend/.mvn/wrapper/maven-wrapper.jar
# misc
frontend/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
