.my_account{
  color: #6b8677;
  display: inline-block;
  font-weight: bold;
}
.list_account li{
  cursor: pointer;
  padding-left: 10px;
}
.list_account li:nth-child(2){
  border-left: 1px solid #868e96;
}