.image {
    width: 4rem;
    height: 4rem;
}

.finance_page {
    background-color: white;
    border-radius: 2px;
    width: 560px;
}

.finance_container {
    min-height: calc(100vh - 10rem);
}

.beneficiary {
    background-color: #f6f5f3;
    border-color: #414a5d;
    border-radius: 6px;
}

.form_control:focus {
    border: 2px solid #ffe109;
}

.successfully_msg {
    color: darkgreen;
}

.error_msg {
    color: #ff3333;
}

.d_block {
    display: block !important;
}

.btn {
    font-size: .8rem;
}

.kind {
    cursor: pointer;
    width: 15rem;
}